<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="sidebar">
    <a th:href="@{/}"><h2>Project Calculator</h2></a>


    <form id="create-project-form" class="center-form" th:action="@{/create-project}" method="post">
        <h4>Create Project</h4>
        <input type="text" name="project-title" id="project-title" placeholder="Project Name">

        <a class="plus-button" href="javascript:{}" onclick="document.getElementById('create-project-form').submit();">&plus;</a>

    </form>


    <ul>

        <li th:each="project: ${projectlist}">
            <div>
                <a th:text="${project.title}" th:href="@{/project(id=${project.id})}"></a>
                <form id="delete-project" method="post" th:action="@{/delete-project(id=${project.id})}">
                    <a href="javascript:{}" onclick="document.getElementById('delete-project').submit();">&cross;</a>
                </form>
            </div>
        </li>
    </ul>

</div>
</html>