*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #f3f5f9;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

#create-project-link{
    text-align: center;
}

#create-project-btn{
    color: #bdb8d7;
    display: block;
    padding: 15px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li:hover{
    background: #594f8d;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    display: flex;


}

.header p{
    display: inline;
}

.header-info{
    flex-basis: 50%;
}


.wrapper .main_content .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.task-card{
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    flex-basis: 32%;
    border-radius: 6px;
    margin: 10px;
}

.card-content{
    padding: 8px;
}

.card-header{
    padding: 8px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}

.card-flex{
    display: flex;
    justify-content: space-between;
}

.card-inline{
    display: inline;
}

.create-subtask-btn{
    width: 5%;
}

.create-task-btn{
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px;
    width: 15%;
}


.subtask-info{
    display: inline;
}








/* splash screen */

.splash-intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.splash-logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.splash-logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.splash-logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.splash-logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}