<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha solutions</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="intro">
    <h1 class="logo-header">
        <span class="logo">Project</span><span class="logo">Calculator</span>
    </h1>
</div>

<header>
    <h4>Project Calculator</h4>
</header>

<script th:src="@{/js/dashboardJS.js}"></script>
</body>
</html>