<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha solutions</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="splash-intro">
    <h1 class="splash-logo-header">
        <span class="splash-logo">Project</span>&nbsp;<span class="splash-logo">Calculator</span>
    </h1>
</div>

<header>
    <div class="logo">
        <h4>Project Calculator</h4>
    </div>
    <nav>
        <a href="#" class="create-project">+</a>
        <ul class="project-list">
            <a href="#"><li>Project name 1 <a>deleteIcon</a></li></a>
            <a href="#"><li>Project name 2 <a>deleteIcon</a></li></a>
            <a href="#"><li>Project name 3 <a>deleteIcon</a></li></a>
            <a href="#"><li>Project name 4 <a>deleteIcon</a></li></a>
        </ul>
    </nav>
</header>

<script th:src="@{/js/dashboardJS.js}"></script>
</body>
</html>