<!-- Ansvarlig programmør: Jimmi Paw Pisalita
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='ProjectCalculator - Dashboard')">
<body>

<div class="splash-intro">
    <h1 class="splash-logo-header">
        <span class="splash-logo">Project</span>&nbsp;<span class="splash-logo">Calculator</span>
    </h1>
</div>

<div class="wrapper">
    <div th:replace="fragments/sidebar.html"></div>
    <div class="main_content">
    </div>
</div>

<script th:src="@{/js/dashboardJS.js}"></script>
</body>
</html>