<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha solutions</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="splash-intro">
    <h1 class="splash-logo-header">
        <span class="splash-logo">Project</span>&nbsp;<span class="splash-logo">Calculator</span>
    </h1>
</div>

<div class="splash-intro">
    <h1 class="splash-logo-header">
        <span class="splash-logo">Project</span>&nbsp;<span class="splash-logo">Calculator</span>
    </h1>
</div>

<div class="wrapper">
    <div class="sidebar">
        <h2>Project Calculator</h2>
        <li id="create-project-link"><a href="#" id="create-project-btn">addIcon</a></li>
        <ul>
            <li><a href="#">Project 1</a></li>
            <li><a href="#">Project 2</a></li>
            <li><a href="#">Project 3</a></li>
            <li><a href="#">Project 4</a></li>
            <li><a href="#">Project 5</a></li>
            <li><a href="#">Project 6</a></li>
            <li><a href="#">Project 7</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Total hours: XXX</div>
        <div class="info">
            <div>HERE GOES THE GRID SOMEHOW</div>
        </div>
    </div>
</div>

<script th:src="@{/js/dashboardJS.js}"></script>
</body>
</html>