<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html(pageTitle='ProjectCalculator - Employees')">
<body>


<div class="wrapper">
    <div th:replace="fragments/sidebar.html"></div>
    <div class="main_content">
        <form th:action="@{/create-employee}" method="post">
            <input type="text" name="emp-name" placeholder="Name">
            <input type="text" name="job-title" placeholder="Job title">
            <button type="submit">Submit</button>
        </form>

        <br>
        <ul>
            <li th:each="employee : ${employeelist}">
                <div>
                    <p th:text="${employee.empName}"></p>
                    <p th:text="${employee.jobTitle}"></p>
                    <p th:text="${employee.plannedHours}"></p>
                    <form method="post" th:action="@{/delete-employee(id=${employee.id})}">
                        <button type="submit">&cross;</button>
                    </form>
                    <br>
                </div>
            </li>
        </ul>
    </div>
</div>


</body>
</html>