<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha solutions</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="splash-intro">
    <h1 class="splash-logo-header">
        <span class="splash-logo">Project</span>&nbsp;<span class="splash-logo">Calculator</span>
    </h1>
</div>

<div class="wrapper">
    <div class="sidebar">
        <h2>Project Calculator</h2>
        <form id="create-project-form" th:action="@{/create-project}" method="post">
            <input type="text" name="project-title" id="project-title" placeholder="enter project name">
            <button type="submit" name="create-project" id="create-project-btn">addIcon</button>
        </form>

        <ul>
            <li th:each="project: ${projectlist}">
                <a th:text="${project.title}" th:href="@{/project(id=${project.id})}"></a>
            </li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">
            <p>Project title: </p>
            <p th:text="${project.title}"></p>
            <p>Hours planned: </p>
            <p th:text="${project.hours}"></p>
        </div>
        <div class="info">
            <div>
                <form th:action="@{/create-task}" method="post">
                    <input type="text" name="task-title" id="task-title">
                    <button type="submit">add task</button>
                </form>
                <ul>
                    <li th:each="task: ${tasklist}">
                        <p th:text="${task.title}"></p>
                        <p th:text="${task.hours}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/dashboardJS.js}"></script>
</body>
</html>