<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha solutions</title>
    <link th:href="@{/css/dashboardStyle.css}" rel="stylesheet" />
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Project Calculator</h2>
        <form id="create-project-form" th:action="@{/create-project}" method="post">
            <input type="text" name="project-title" id="project-title" placeholder="enter project name">
            <button type="submit" name="create-project" id="create-project-btn">&plus;</button>
        </form>


        <ul>

            <li th:each="project: ${projectlist}">
                <div>
                    <a th:text="${project.title}" th:href="@{/project(id=${project.id})}"></a>
                    <form method="post" th:action="@{/delete-project(id=${project.id})}">
                        <button type="submit">&cross;</button>
                    </form>
                </div>
            </li>
        </ul>
        <a href="/employee-dashboard">create employee</a>
    </div>
    <div class="main_content">
        <div class="header">
            <div>
                <p >Project title:</p>
                <p th:text="${project.title}"></p>
            </div>

            <div>
                <p >Hours planned: </p>
                <p th:text="${project.hours}"></p>
            </div>

        </div>
        <div class="info">
            <div th:each="task: ${tasklist}" class="task-card">

                <div class="card-header">

                    <div>
                        <p class="card-inline" th:text="${task.title}"></p>
                    </div>

                    <div>
                        <p class="card-inline" th:text="${task.hours}"></p>
                        <p class="card-inline"> hours</p>
                    </div>
                    <div>
                        <form method="post" th:action="@{/delete-task(id=${task.id})}">
                            <button type="submit">&cross;</button>
                        </form>
                    </div>

                </div>
                <div class="card-content">


                        <div th:each="subtask: ${subtasklist}">
                            <div th:if="${task.id == subtask.taskId}">
                                <div class="card-flex">
                                    <div>
                                        <p class="card-inline" th:text="${subtask.title}"></p>
                                    </div>

                                    <div>
                                        <p class="card-inline" th:text="${subtask.hours}"></p>
                                        <p class="card-inline"> hours</p>
                                    </div>

                                    <div>
                                        <div th:each="employee: ${employeelist}">
                                            <div th:if="${subtask.employeeId == employee.id}">
                                                <p class="card-inline" th:text="${employee.empName}">test</p>
                                            </div>
                                        </div>

                                        <div th:if="${subtask.employeeId == 0}">
                                        <form th:action="@{/assign-employee(subtaskId=${subtask.id})}" method="post">
                                            <select name="employeeId" onchange="this.form.submit()">
                                                <option value="" disabled selected>Select</option>
                                                <div th:each="employee: ${employeelist}">
                                                    <option th:text="${employee.empName}" th:value="${employee.id}" ></option>
                                                </div>
                                            </select>
                                        </form>
                                        </div>
                                    </div>

                                    <div>
                                        <form method="post" th:action="@{/delete-subtask(id=${subtask.id})}">
                                            <button type="submit">&cross;</button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>

                    <form th:action="@{/create-subtask(id=${task.id})}" method="post">
                        <input type="text" name="subtask-title" id="subtask-title" placeholder="subtask title">
                        <input type="number" name="subtask-hours" id="subtask-hours" placeholder="subtask hours">

                        <button type ="submit" class="create-subtask-btn">&plus;</button>
                    </form>

                </div>
            </div>



            <div class="task-card">
                <div class="card-header">
                    <form class="create-task" th:action="@{/create-task}" method="post">
                    <div>
                        <input type="text" name="task-title" id="task-title" placeholder="create new task">
                    </div>

                    <div>

                    </div>

                </div>
                <div class="card-content">
                    <button class="create-task-btn" type="submit">&plus;</button>
                    </form>
                </div>
            </div>









        </div>
    </div>
</div>

</body>
</html>