<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html(pageTitle='ProjectCalculator - '+ ${project.title})">

<body>



<div class="wrapper" id="wrapper">

    <div th:replace="fragments/sidebar.html"></div>

    <div id="employeenav" class="employee-navbar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="employee-content">

            <h4>Create Employee</h4>
        <form id="create-employee-form" class="center-form" th:action="@{/create-employee}" method="post">
            <input type="text" name="emp-name" required="required" placeholder="Name">
            <input type="text" name="job-title" required="required" placeholder="Job title">
            <button type="submit">&plus;</button>
        </form>

        <ul>
            <li th:each="employee : ${employeelist}">
                <div class="employee-info">
                    <p th:text="${employee.empName}"></p>
                    <p th:text="${employee.jobTitle}"></p>
                    <p class="card-inline" th:text="${employee.plannedHours}"></p><p class="card-inline"> hours</p>
                    <form id="delete-employee-form" method="post" th:action="@{/delete-employee(id=${employee.id})}">
                        <button type="submit">&times;</button>
                    </form>
                </div>
            </li>
        </ul>
        </div>
    </div>


    <div class="main_content" id="main">
        <div id="header" class="header">

            <div>
                <p >Project title:</p>
                <p th:text="${project.title}"></p>
            </div>

            <div>
                <p >Hours planned: </p>
                <p th:text="${project.hours}"></p>
            </div>


            <div class="employee-nav">
                <span style="cursor:pointer" id="openbtn" onclick="openNav()">&#9776; Employees</span>
                <span style="cursor:pointer; display: none" id="closebtn" onclick="closeNav()">&#9776; Employees</span>
            </div>

        </div>
        <div class="info" id="info">

            <div th:each="task: ${tasklist}" class="task-card">

                <div class="card-header">

                    <div>
                        <p class="card-inline" th:text="${task.title}"></p>
                    </div>

                    <div>
                        <p class="card-inline" th:text="${task.hours}"></p>
                        <p class="card-inline"> hours</p>
                    </div>
                    <div>
                        <form id="delete-task-form" method="post"  th:action="@{/delete-task(id=${task.id})}">
                            <button type="submit">&times;</button>
                        </form>
                    </div>

                </div>
                <div class="card-content">


                        <div th:each="subtask: ${subtasklist}">
                            <div th:if="${task.id == subtask.taskId}">
                                <div class="card-flex">
                                    <div>
                                        <p class="card-inline" th:text="${subtask.title}"></p>
                                    </div>

                                    <div>
                                        <p class="card-inline" th:text="${subtask.hours}"></p>
                                        <p class="card-inline"> hours</p>
                                    </div>

                                    <div>
                                        <div th:each="employee: ${employeelist}">
                                            <div th:if="${subtask.employeeId == employee.id}">
                                                <p class="card-inline" th:text="${employee.empName}">test</p>
                                            </div>
                                        </div>

                                        <div th:if="${subtask.employeeId == 0}">
                                        <form th:action="@{/assign-employee(subtaskId=${subtask.id}, hours=${subtask.hours})}" method="post">
                                            <select name="employeeId" onchange="this.form.submit()">
                                                <option value="" disabled selected>Select employee</option>
                                                <div th:each="employee: ${employeelist}">
                                                    <option th:text="${employee.empName}" th:value="${employee.id}" ></option>
                                                </div>
                                            </select>
                                        </form>
                                        </div>
                                    </div>

                                    <div>
                                        <form id="delete-subtask-form" method="post" th:action="@{/delete-subtask(id=${subtask.id})}">
                                            <button type="submit">&times;</button>
                                        </form>

                                    </div>

                                </div>
                            </div>
                        </div>

                    <form id="create-subtask-form" th:action="@{/create-subtask(id=${task.id})}" method="post">
                        <input type="text" name="subtask-title" id="subtask-title"  required="required" placeholder="Subtask title">
                        <input type="number" step="any" min="0" name="subtask-hours" id="subtask-hours"  required="required" placeholder="Subtask hours">

                        <button type="submit">&plus;</button>
                    </form>

                </div>
            </div>




            <div class="task-card">
                <div class="create-task-header">
                    <form id="create-task-form" class="create-task" th:action="@{/create-task}" method="post">
                    <div>
                        <input type="text" name="task-title" id="task-title" required="required" placeholder="New task title">
                    </div>

                    <div>
                        <button type="submit">&plus;</button>

                    </div>
                    </form>
                </div>
                <div class="card-content">
                </div>
            </div>
        </div>
    </div>
</div>




<script th:src="@{/js/script.js}"></script>

</body>
</html>